@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(47, 88%, 63%);
}

html{
    scroll-behavior: smooth;
}

.main-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    background: hsl(0, 0%, 100%);
    padding: 15px 20px;
    border-radius: 15px;    
    border: 1.4px solid hsl(0, 0%, 7%);
    box-shadow: 7px 7px 0px  0px;
    transition: 0.3s ease-in-out;
}

.main-container:hover{
    box-shadow: 15px 15px 0px  0px;
    transition: 0.3s ease-in-out;
}

.head-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
}

.head-img img{
    border-radius: 15px;
    width: 100%;
}

.head-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}

.head-title h4{
    padding: 5px 10px;
    border-radius: 6px;
    background: hsl(47, 88%, 63%);
    font-size: 0.9rem;
}

.head-title p{
    margin-top: 15px;
    font-size: 0.8rem;
    font-weight: 500;
}

.body-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
}

.body-content h1{
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
}

.body-content h1:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.body-content p{
    font-size: 1rem;
    margin-top: 15px;
}

.end-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.end-content img{
    width: 10%;
}

.end-content span{
    font-size: 0.9rem;
    font-weight: 700;
    margin-left: 10px;
}

